{% extends "main.html" %}
{% load staticfiles %}

{% block title %}{{ app_name }}{% endblock %}
{% block  subnav %}
<!-- CollectionIcon Bar -->
{% if collection %}
<div class="row"><div class="small-12 columns">
<dl class="sub-nav" style="margin:0; padding: 0">
  <dd style="margin:0; padding:0"><a href="/photo/collect/copy/{{ collection.id }}/" style="padding-left: 0"><i class="fi-page-copy"></i>&nbsp;Копировать все</a></dd>
  <dd style="margin:0; padding:0"><a href="#" data-reveal-id="YesNoModal" style="padding-left: 0"><i class="fi-page-delete"></i>&nbsp;Очистить коллекцию</a></dd>
  <dd style="margin:0; padding:0"><a href="/photo/collect/dl/{{ collection.id }}/" style="padding-left: 0"><i class="fi-archive"></i>&nbsp;Загрузить одним архивом</a></dd>
  <dd style="margin:0; padding:0"><a href="#" style="padding-left: 0"><i class="fi-mail"></i>&nbsp;Отправить</a></dd>
</dl>
</div></div>
{% endif %}
{% endblock %}

{% block modaldialog %}
<div class="row">
<div id="YesNoModal" class="reveal-modal small" data-reveal aria-labelledby="YesNoModalTitle" aria-hidden="true" role="dialog">
  <h2 id="YesNoModalTitle">Подтвердите очистку.</h2>
  <p>Нажмите <code>"Да"</code>, если Вы хотите удалить все изображения из текущей коллекции. В противном случае выберите <code>"Нет"</code></p>
  <p class="text-center"><a href="/photo/collect/clear/{{ collection.id }}/" class="secondary button">Да</a>
                         &nbsp;&nbsp;&nbsp;<a class="button close">Нет</a></p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
</div>
{% endblock %}

{% block content %}
    <div class="large-12 columns">
    <div class="row">
        <ul class="small-block-grid-3 medium-block-grid-4 large-block-grid-6">
        {% for f in folders %}
            <li class="text-center" style="padding: 5px">
                <a href="/photo/album/{{ album.id }}/{{ f.id }}/">
                <img src="{% static "gal/psg_folder.png" %}">
                <div style="text-align: center; font-size: small; margin:0; line-height: 1">{{ f.title }}</div>
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="row">
        <ul class="clearing-thumbs small-block-grid-3 medium-block-grid-4 large-block-grid-6">
        {%  for p in photos %}
                <li class="text-center" style="padding: 5px;">
                <a href="{{ MEDIA_URL }}{{p.prev_path}}" class="th round swipebox" title="<input type='checkbox' class='favstar' id='{{ p.id }}' onclick='update_select(this);' {% if p.checked %}checked{% endif %}/><label for='{{ p.id }}'><span></span></label><a href='{{ MEDIA_URL }}{{p.prev_path}}' download> File:{{ p.title }}</a>, ID:{{ p.id }}">
                <img src="{{ MEDIA_URL }}{{p.thumb_path}}" alt="{{ p.title }}">
                </a>
                <div style="margin: 0;">
                    <input type="checkbox" class="favstar" id="{{ p.id }}" onclick="update_select(this);" {% if p.checked %}checked{% endif %}/><label for="{{ p.id }}"><span></span></label>
                    <a href="{{ MEDIA_URL }}{{p.prev_path}}" download><img src="{% static "gal/dwnld.png" %}" width=22 height=22></a>
                </div>
                <p style="font-size: smaller; margin:0; line-height: 1">{{ p.title }}</p>
        {% endfor %}
        </ul>
    </div>
    </div>
{% endblock %}

{% block block-js %}
    <script>
       function update_select(chb) {
           $.getJSON("/photo/updateselect/" + chb.id + "/" + (chb.checked ? 1 : 0) +"/")
           $("input[id="+chb.id+"]").prop("checked", chb.checked);
       }

        $('a.close').on('click', function() {
            $('#YesNoModal').foundation('reveal', 'close');
        });
        </script>
{% endblock %}