{% extends "main.html" %}
{% load staticfiles %}

{% block title %}{{ app_name }}{% endblock %}

{% block  subnav %}
<!-- CollectionIcon Bar -->
{% if collection %}
<div class="row"><div class="small-12 columns">
<dl class="sub-nav" style="margin:0; padding: 0">
  <dd style="margin:0; padding:0"><a href="#" onClick="collection2collection({{ collection.id }});" style="padding-left: 0"><i class="fi-page-copy"></i>&nbsp;Копировать все</a></dd>
  <dd style="margin:0; padding:0"><a href="#" data-reveal-id="YesNoModal" style="padding-left: 0"><i class="fi-page-delete"></i>&nbsp;Удалить коллекцию</a></dd>
  <dd style="margin:0; padding:0"><a href="/photo/collect/dl/{{ collection.id }}/" style="padding-left: 0"><i class="fi-archive"></i>&nbsp;Загрузить одним архивом</a></dd>
  <dd style="margin:0; padding:0"><a href="#" data-reveal-id="SettingsCollectModal" style="padding-left: 0"><i class="fi-widget"></i>&nbsp;Настройки коллекции</a></dd>
</dl>
</div></div>
<!-- if collection -->
{% endif %}
{% endblock %}

{% block modaldialog %}
<div id="YesNoModal" class="reveal-modal small" data-reveal aria-labelledby="YesNoModalTitle" aria-hidden="true" role="dialog">
  <h4 id="YesNoModalTitle">Подтвердите удаление коллекции <b>"{{ collection.title }}"</b>.</h4>
  <p>Нажмите <code>"Удалить"</code>, если Вы хотите удалить текущую коллекцию. В противном случае выберите <code>"Отмена"</code></p>
  <p class="text-center"><a href="/photo/collect/clear/{{ collection.id }}/" class="secondary button">Удалить</a>
                         &nbsp;&nbsp;&nbsp;<a class="button close">Отмена</a></p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="DeletePhotoModal" class="reveal-modal small text-center" data-reveal aria-labelledby="DeletePhotoModalTitle" aria-hidden="true" role="dialog">
  <h4 id="DeletePhotoModalTitle">Подтвердите удаление ссылки на изображение из коллекции <b>"{{ collection.title }}"</b>.</h4>
    <div class="th round text-center" style="margin: 5px"><img src="#" id="DeletePhoto_image" style="max-height: 300px; max-width: 300px" ></div>
    <p></p>
  <p class="text-center"><a href="/photo/collect/delete/{{ collection.id }}/" class="secondary button" id="DeletePhoto_btnYes">Удалить</a>
                         &nbsp;&nbsp;&nbsp;<a class="button close">Отмена</a></p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="AddCollectModal" class="reveal-modal small" data-reveal aria-labelledby="AddCollectModalTitle" aria-hidden="true" role="dialog">
  <h4 id="AddCollectModalTitle">Копирование фотографий в другую коллекцию.</h4>
  <form method="post" action="/photo/collect/copy/{{ collection.id }}/" name="AddCollectForm" id="addcollect_form">
  {% csrf_token %}
      <input type="hidden" name="addcollect_type" id="addcollect_type" value="collection">
      <input type="radio" name="new_or_choice" value="new" id="addcollect_radio1"><label for="addcollect_radio1">Новая коллекция</label>
      <label>Введите название новой коллекции изображений:<input type="text" name="title" id="addcollect_title"/></label>
      <input type="radio" name="new_or_choice" value="choice" id="addcollect_radio2" checked><label for="addcollect_radio2">Существующая коллекция</label>
      <label>Выберите коллекцию для копирования изображений:
          <select name="choice" id="addcollect_choice">
              {% for c in collections %}
                  <!-- Не предлагаем копировать сами в себя -->
                  {% if c.id != collection.id %}
                    <option value="{{ c.id }}">{{ c.title }}</option>
                  {% endif %}
              {% endfor %}
          </select>
      </label>
    <p class="text-center"><input class="button" type="submit" value="Копировать" id="addcollect_submit">&nbsp;&nbsp;&nbsp;<a class="button close">Отмена</a>
    </p>
  </form>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="SettingsCollectModal" class="reveal-modal small" data-reveal aria-labelledby="SettingsCollectModalTitle" aria-hidden="true" role="dialog">
  <h4 id="SettingsCollectModalTitle">Настройки коллекции.</h4>
  <form method="post" action="/photo/collect/settings/{{ collection.id }}/" name="settings_form">
  {% csrf_token %}
      <label>Имя коллекции изображений:<input type="text" name="title" value="{{ collection.title }}" id="settings_title"/></label>
    <div class="text-center"><input class="button" type="submit" id="settings_submit" value="Ок">&nbsp;&nbsp;&nbsp;<a class="button close">Отмена</a></div>
  </form>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

 <div id="SettingsPhotoModal" class="reveal-modal small" data-reveal aria-labelledby="SettingsPhotoModalTitle" aria-hidden="true" role="dialog">
  <h4 id="SettingsPhotoModalTitle">Настройки фото.</h4>
  <form method="post" action="#" name="settings_photo_form" id="settings_photo_form">
  {% csrf_token %}
      <label>Изменить наименование фото:<input type="text" name="title" value="" id="settings_photo_title"/></label>
      <input type="hidden" name="req_path" value="{{ request.path }}">
    <div class="text-center"><input class="button" type="submit" id="settings_photo_submit" value="Ок">&nbsp;&nbsp;&nbsp;<a class="button close">Отмена</a></div>
  </form>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="InfoPhotoModal" class="reveal-modal small text-center" data-reveal aria-labelledby="InfoPhotoModalTitle" aria-hidden="true" role="dialog">
</div>
{% endblock %}

{% block content %}
    <div class="large-12 columns">
    <div class="row">
        <ul class="small-block-grid-3 medium-block-grid-4 large-block-grid-6">
        {% for f in folders %}
            <li class="text-center" style="padding: 5px">
                <a href="/photo/album/{{ album.id }}/{{ f.id }}/">
                <img src="{% static "gal/psg_folder.png" %}">
                <div style="text-align: center; font-size: small; margin:0; line-height: 1">{{ f.title }}</div>
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="row">
        <ul class="clearing-thumbs small-block-grid-3 medium-block-grid-4 large-block-grid-6">
        {%  for p in photos %}
                <li class="text-center" style="padding: 5px;">
                <a href="{{ MEDIA_URL }}{{p.prev_path}}" class="th round swipebox" title="<input type='checkbox' class='favstar' id='{{ p.id }}' onclick='update_select(this);' {% if p.checked %}checked{% endif %}/><label for='{{ p.id }}'><i class='fi-star icon-style'></i></label><a href='{{ MEDIA_URL }}{{p.prev_path}}' download> File:{{ p.title }}</a>, ID:{{ p.id }}">
                <img src="{{ MEDIA_URL }}{{p.thumb_path}}" title="{{ p.title }}">
                </a>
                <div style="margin: 0;">
                    {% if not collection.favorite %}
                       <input type="checkbox" class="favstar" id="{{ p.id }}" onclick="update_select(this);" {% if p.checked %}checked{% endif %}/><label for="{{ p.id }}"><i class="fi-star icon-style"></i></label>
                    {% endif %}
                    <a href="#" onclick="photo2collection({{ p.id }});" title="Добавить в коллекцию"><i class="fi-plus icon-style"></i></a>
                    {% if collection %}
                       <a href="#" onclick="del_photo({{ collection.id }},{{ p.id }},'{{ p.prev_path }}');" title="Удалить из коллекции"><i class="fi-minus icon-style"></i></a>
                    {% endif %}
                    <a href="#" title="Изменить" onclick="stts_photo({{ p.id }},'{{ p.title }}');"><i class="fi-page-edit icon-style"></i></a>
                    <a href="#" title="Информация" onclick="info_photo({{ p.id }});"><i class="fi-info icon-style"></i></a>
                    <a href="{{ MEDIA_URL }}{{p.prev_path}}" download title="Скачать фото"><i class="fi-download icon-style"></i></a>
                </div>
                <p style="font-size: 10px; margin:0; line-height: 1">{{ p.title }}</p>
        {% endfor %}
        </ul>
    </div>
    </div>
{% endblock %}

{% block block-js %}
    <script>
       function update_select(chb) {
           $.getJSON("/photo/updateselect/" + chb.id + "/" + (chb.checked ? 1 : 0) +"/")
           $("input[id="+chb.id+"]").prop("checked", chb.checked);
       }

        function close_reveal() { $('div.reveal-modal').foundation('reveal', 'close'); };

        $('a.close').on('click', function() {
           $('div.reveal-modal').foundation('reveal', 'close');
        });

        $('#settings_submit').click(function(){
            if ($('#settings_title').val()=='') {
                $('#settings_title').css({'border-color':'#d8512d'});
                setTimeout(function() {
                    $('#settings_title').removeAttr('style');
                },500);
                return false
            }
            else {
                $('#settings_form').submit()
            }
        });

        $('#addcollect_submit').click(function(){
            if (($('#addcollect_title').val()=='') && ($('#addcollect_radio1').is(':checked'))) {
                $('#addcollect_title').css({'border-color':'#d8512d'});
                setTimeout(function() {
                    $('#addcollect_title').removeAttr('style');
                },500);
                return false
            }
            else if (($('#addcollect_choice').val()==null) && ($('#addcollect_radio2').is(':checked'))) {
                $('#addcollect_choice').css({'border-color':'#d8512d'});
                setTimeout(function() {
                    $('#addcollect_choice').removeAttr('style');
                },500);
                return false
            }
            else {
                if ($('#addcollect_type').attr("value") == 'collection') {
                    $('#addcollect_form').submit();
                } else {
                    msg = $('#addcollect_form').serialize();
                    action_url = $('#addcollect_form').attr("action");
                    $.ajax({
                        type: 'POST',
                        url: action_url,
                        data: msg,
                        success: function (data) {
                        },
                        error: function (xhr, str) {
                        }
                    })
                    $('#AddCollectModal').foundation('reveal', 'close');
                    return false
                }
            }
        });

       function photo2collection(id) {
           $('#addcollect_form').attr("action",'/photo/copy/'+id+'/')
           $('#AddCollectModalTitle').text("Копирование фотографии в коллекцию.")
           $('#addcollect_type').attr("value","photo")
           $('#AddCollectModal').foundation('reveal', 'open');
       }

       function collection2collection(id) {
           $('#addcollect_form').attr("action",'/photo/collect/copy/'+id+'/');
           $('#AddCollectModalTitle').text('Копирование фотографий в другую коллекцию.');
           $('#addcollect_type').attr("value","collection");
           $('#AddCollectModal').foundation('reveal', 'open');
       }

       function del_photo(c_id, p_id, thumb_path) {
           $('#DeletePhoto_btnYes').attr("href",'/photo/collect/del/'+c_id+'/'+p_id+'/');
           $('#DeletePhoto_image').attr("src","{{ MEDIA_URL }}"+thumb_path);
           $('#DeletePhotoModal').foundation('reveal', 'open');
       }

       function stts_photo(p_id, name) {
           $('#settings_photo_form').attr("action",'/photo/settings/'+p_id+'/');
           $('#settings_photo_title').attr("value",name);
           $('#SettingsPhotoModal').foundation('reveal', 'open');
       }

       function info_photo(p_id) {
           $('#InfoPhotoModal').foundation('reveal', 'open','/photo/info/'+p_id+'/');
       }


    </script>
{% endblock %}