input[type="checkbox"].favstar {
    display:none;
}

input[type="checkbox"].favstar + label {
    font-family:Arial, sans-serif;
    font-size:12px;
    width:24px;
    height:24px;
    margin:0px 0px 0 0;
}

input[type="checkbox"].favstar + label span {
    display:inline-block;
    width:24px;
    height:24px;
    margin:0px 0px 0 0;
    vertical-align:middle;
    background:url(star-off.png) left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"].favstar:checked + label span {
    background:url(star-on.png) left top no-repeat;
}

input[type="checkbox"].favstar + label i {
    color:rgba(200,200,200,1);
}

input[type="checkbox"].favstar:checked + label i {
    color:rgba(245, 89, 7, 1);
}

.style1{font-size:22px;color:#B8D30B;}
.style2{font-size:22px;color:#2DAEBF;text-shadow:0px 1px 0px #0092b3,0px 2px 0px #0087a6,0px 3px 0px #008099,0px 4px 0px #00758c,0px 5px 0px #555,0px 6px 0px #006a80,0px 0px 0px #006073,0px 8px 7px #005566;}
.style3{font-size:22px;color:#E33100;text-shadow:0 0 5px #fff,0 0 10px #fff,0 0 15px #fff,0 0 20px #E33100,0 0 30px #E33100,0 0 40px #E33100,0 0 50px #E33100,0 0 75px #E33100;}
.style4{font-size:24px;text-shadow:0 1px 3px rgba(0,0,0,0.25);color:#A9014B;}
.icon-style{font-size:20px;color:#2DAEBF;}
.icon-fav{font-size:20px;color:rgba(245, 89, 7, 1);}
